.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  width: 120px;
  animation: fadeIn 0.8s ease-in-out;
}

.reflection {
  width: 120px;
  height: 60px;
  background-image: url("./logo.svg");
  background-size: cover;
  opacity: 0.2;
  transform: scaleY(-1);
  filter: blur(3px);
  margin-top: -10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
