.article-container{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.article{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    background-color: #000000;
    border-radius: 1rem;
}

.article-title{
    padding-top: 2rem;
    background: linear-gradient(to bottom, #e59c37 0%, #2b2b2b 100%);
    background-size: contain;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 2px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}