.footer{
    background: #000000;
}
p{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.dev{
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
    color: cadetblue;
}