header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
}

.menu li {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: "Playfair Display", serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.15rem;
    color: #c78c3a;
}

.sub-menu {
    position: absolute;
    background: transparent;
    list-style: none;
    padding: 0.5rem;
    margin-top: 5.75rem;
}


#logo {
    width: 15rem;
    height: auto;
}